@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  margin: 0 1.5rem;
  color: hsl(228, 12%, 48%);
}

picture img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

h1, .price {
  font-family: 'Fraunces', serif;
}

h1 {
  color: black;
  font-size: 30px;
  line-height: 1;
  margin: 1rem 0;
}

h2 {
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 1rem;
}

.price {
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.oldprice {
  margin-left: 1rem;
  text-decoration: line-through;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: white;
  padding: 12px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  vertical-align: sub;
}



.container article:last-child {
  padding: 1.5rem;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  margin-top: -1rem;
}

ul {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;

}

li {
  float: left;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container article:last-child {
    border-radius: 0 1rem 1rem 0;
    margin-top: 0;
  }

  picture img {
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    margin-bottom: -0.5rem;
  }

  .icon {
    vertical-align: sub;
  }



}

